.block {
  border-radius: 4px;
  margin-bottom: 4px;
  padding: 5px;
}

.block:hover {
  border-bottom: 1px dotted grey;
}

.block:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid lightgrey;
}

.block[contentEditable="true"]:empty:not(:focus):before {
  content: attr(placeholder);
  color: grey;
}
